@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5eff5;
  font-size: 16px;
  min-height: 100vh;
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  max-width: 550px;
  overflow: hidden;
  font-size: 0.625rem;
  color: #e5eff5;
  box-shadow: 0px 4px 9px -1px rgba(121, 119, 119, 0.452);
}

.grid-container__joinCommunity, .grid-container__monthly, .grid-container__whyUs {
  text-align: left;
  height: 250px;
  padding: 30px;
}

.grid-container__joinCommunity-title, .grid-container__monthly-title, .grid-container__whyUs-title {
  font-size: 1.9em;
}

.grid-container__joinCommunity-description, .grid-container__monthly-description, .grid-container__whyUs-description {
  font-size: 1.5em;
  line-height: 1.7em;
}

.grid-container__joinCommunity {
  background-color: white;
}

.grid-container__joinCommunity-title {
  color: #2ab2af;
}

.grid-container__joinCommunity-sub-title {
  color: #c0df34;
  margin: 1.2em 0;
}

.grid-container__joinCommunity-description {
  color: #b3b3b3;
}

.grid-container__monthly {
  background-color: #2ab2af;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.grid-container__monthly-description {
  margin: 0 0 .8em 0;
}

.grid-container__monthly-description-price, .grid-container__monthly-description-textPrice {
  display: inline-block;
}

.grid-container__monthly-description-price {
  color: #fff;
  font-size: 2.3em;
  padding: .3em 0;
}

.grid-container__monthly-description-textPrice {
  color: rgba(228, 226, 226, 0.692);
  margin: 0 .5em;
}

.grid-container__monthly-singUp {
  background-color: #c0df34;
  height: 3.5em;
  font-size: 1.4em;
  border: none;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.425);
}

.grid-container__whyUs {
  background-color: #30cfc9;
}

.grid-container__whyUs-description {
  margin: 1em 5em 1em 0;
  text-align: left;
}

@media screen and (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .grid-container__joinCommunity {
    grid-column: 1 / span 2;
  }
}
