//Colors

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
//*Primary
$blue-dark: hsl(179, 62%, 43%);
$green-limon: hsl(71, 73%, 54%);

//?Neutral
$LightGray: hsl(204, 43%, 93%);

$gray:hsl(0, 0%, 70%);
$blue-linght: hsl(178, 62%, 50%);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: $LightGray;
    font-size: 16px;
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: 100%;
    max-width: 550px;
    overflow: hidden;
    font-size: 0.625rem;
    color:$LightGray;
    box-shadow: 0px 4px 9px -1px rgba(121, 119, 119, 0.452);
    &__joinCommunity,
    &__monthly,
    &__whyUs{
        text-align: left;
        height: 250px;
        padding: 30px;
    }
    &__joinCommunity-title,
    &__monthly-title,
    &__whyUs-title{
        font-size: 1.9em;
    }
    &__joinCommunity-description,
    &__monthly-description,
    &__whyUs-description{
        font-size: 1.5em;
        line-height: 1.7em;
    }


    &__joinCommunity{
        background-color: white;
        &-title{
            color:$blue-dark;
        }
        &-sub-title{
            color:$green-limon;
            margin:1.2em 0 ;
        }
        &-description{
            color:$gray;
            
        }
    }
    &__monthly{
        background-color: $blue-dark;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        // &-title{

        // }
        &-description{
            &-price,
            &-textPrice{
                display:inline-block;
            }
            &-price{
                color:#fff;
                font-size: 2.3em;
                padding: .3em 0;
               
            }
            &-textPrice{
                color:hsla(0, 4%, 89%, 0.692);
                margin: 0 .5em;
            }
            margin: 0 0 .8em 0;
        } 
        &-singUp{
            background-color: $green-limon;
            height: 3.5em;
            font-size: 1.4em;
            border:none;
            border-radius:5px;
            color:#fff;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.425);
        }
    }
    &__whyUs{
        background-color: $blue-linght;
        &-description{
            margin: 1em 5em 1em 0;
            text-align: left;
        }
    }
}

@import "media-stylles";


