//Colors

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
//*Primary
$blue-dark: hsl(179, 62%, 43%);
$green-limon: hsl(71, 73%, 54%);

//?Neutral
$LightGray: hsl(204, 43%, 93%);

$gray:hsl(0, 0%, 70%);
$blue-linght: hsl(178, 62%, 50%);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: $LightGray;
    font-size: 16px;
    height: 100vh;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 90%;
    height: calc(100vh - 20%);
    font-size: 1rem;
    color:$LightGray;
    &__joinCommunity,
    &__monthly,
    &__whyUs{
        width: 100%;
        height: 15rem;
        padding: 1rem;
        text-align: left;
    }

    &__joinCommunity{
        background-color: white;
        &-title{
            color:$blue-dark;
        }
        &-sub-title{
            color:$green-limon;
        }
        &-description{
            color:$gray;
        }
    }
    &__monthly{
        background-color: $blue-dark;
        &-title{

        }
        &-description{
            &-price{

            }
            &-textPrice{

            }
        } 
        &-singUp{
            background-color: $green-limon;
        }
    }
    &__whyUs{
        background-color: $blue-linght;
    }
}


